
main {
    width: 1140px;
    height: 750px;
}

/* 헤더 */
#main-logo{
    width: 90px;
}

header{
    height: 15%;
    display: flex;
    background-color:rgb(245, 240, 229);
}

header>section:first-child{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>section:last-child{
    flex-basis: 75%;
}

header div{
    flex-basis:20%;
}

header>section:last-child>section:first-child{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>section:last-child>section:first-child>a{
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 14px;
}

header nav{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav>a{
    color: rgb(36, 36, 36);
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
}

header span{
    color: #cfcfcf;
    padding: 15px;
}

#search-btn{
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor:pointer;
    margin-left:15px;
}



/* 컨텐츠 */
.content{
    height: 49%;
    background-image: url(../../images/starbucks-content.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* 풋터 */
footer{
    height:36%;
    background-color: rgb(24, 70, 54);
}

footer>section{
    display: flex;
}

.line-notice {
    height: 20%;
    
}

.line-notice-left{
    background-color: black;
    flex-basis:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-notice-left span{
    color: white;
}

.line-notice-left>a:nth-child(2){
    padding-left: 20px;
    padding-right: 50px;
    color: white;
    text-decoration: none;
}

.line-notice-left>button:nth-child(3){
    cursor:pointer;
    border-radius: 2em;
}

.line-notice-right{
    background-color: white;
    flex-basis:50%;
}

.reward {
   height: 80%;
}

.reward-logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reward-logo{
    width: 150px;
}

.reward-cont{
    flex-basis: 70%;
    color: white;
}

.reward-cont-top{
    height:55%;
    border-bottom: 1px solid rgb(139, 139, 139);
    display: flex;
}

.reward-cont-top-left{
    width: 75%;
    display: flex;
    flex-direction: column;

}

.reward-cont-top-left>span:first-child{
    font-size: 22px;
}

.reward-cont-top-right{
    width: 25%;
}

.reward-cont-top-right>div:first-child{
    height: 50%;
}

.reward-cont-top-right>div:last-child{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reward-cont-top-right>div:last-child>div:first-child{
    width:55%;
    background-color: rgb(0, 109, 45);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.reward-cont-top-right>div:last-child>div:last-child{
    width:45%;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.reward-cont-top>span:first-child{
    font-size: 22px;
}

.reward-cont-bottom{
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reward-cont-bottom-left{
    width: 75%;
    height: 100%;
    font-size: 14px;
}

.reward-cont-bottom-right{
    width: 25%;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
}


section {border  1px solid red;}
div{border  1px solid blue;}